@model UpdateStatusViewModel

@{
    ViewData["Title"] = "Update Status";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Update Request Status
            </h2>
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <input asp-for="TransferRequest.Id" hidden />
        <input asp-for="TransferRequest.CompanyId" hidden />
        <input asp-for="TransferRequest.ItemBlob" hidden />
        <input asp-for="TransferRequest.Quantity" hidden />
        <input asp-for="TransferRequest.DestinationLocationId" hidden />
        <input asp-for="TransferRequest.OriginLocationId" hidden />
        <input asp-for="TransferRequest.Status.Id" hidden />

        <div class="form-floating py-2 col-12">
            <select asp-for="TransferRequest.Status.Status" asp-items="@Model.StatusesList" class="form-select border-0 shadow">
                <option disabled selected>--Select Destination Location--</option>
            </select>
            <label asp-for="TransferRequest.Status.Status" class="ms-2 text-black"></label>
            <span asp-validation-for="TransferRequest.Status.Status" class="text-danger"></span>
        </div>

        <div class="row p-1">
            <div class="col-6 col-md-3">
                <div class="w-100 btn-group" role="group">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-check-circle"></i> Update Status
                    </button>
                    @if (Model.BackLocation is null)
                    {
                        <a asp-controller="Company" asp-action="Index" class="btn btn-secondary">
                            <i class="bi bi-arrow-left-circle"></i> Back to Company View
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Location" asp-action="Index" asp-route-id="@Model.BackLocation.Id" class="btn btn-secondary">
                            <i class="bi bi-arrow-left-circle"></i> Back to @(Model.BackLocation.Name) Location View
                        </a>
                    }
                </div>
            </div>
            <div class="col-6 col-md-3">
            </div>
        </div>

    </div>
</form>


@section Scripts {
    <script>
        tinymce.init({
            selector: 'textarea',
            menubar: ''
                    plugins: 'powerpaste tinymcespellchecker',
            toolbar: 'undo redo | bold italic underline strikethrough | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                { value: 'First.Name', title: 'First Name' },
                { value: 'Email', title: 'Email' },
            ],
            // ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
    </script>
    @* <textarea>
      Welcome to TinyMCE!
    </textarea> *@
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}