@model UpdateStatusViewModel

@{
    ViewData["Title"] = "Update Status";
}

@await Html.PartialAsync(
    "../TransferRequest/_TransferRequestsTable.cshtml", 
    new TrTableViewModel
    {
        TransferRequests = new List<TransferRequest>{ Model.TransferRequest },
        TableOptions = TrTableOptions.ForUpdateStatusView()
    }
)

<hr/>

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Update Request Status
            </h2>
            <hr />
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <input asp-for="TransferRequest.Id" hidden />
        <input asp-for="TransferRequest.CompanyId" hidden />
        <input asp-for="TransferRequest.ItemBlob" hidden />
        <input asp-for="TransferRequest.Quantity" hidden />
        <input asp-for="TransferRequest.DestinationLocationId" hidden />
        <input asp-for="TransferRequest.OriginLocationId" hidden />
        <input asp-for="TransferRequest.Status.Id" hidden />
        @if (Model.BackLocation != null)
        {
            <input asp-for="@Model.BackLocation.Id" hidden />
            <input asp-for="@Model.BackLocation.Name" hidden />
        }

        <div class="form-floating py-2 col-12">
            <select id="selectStatus" oninput="statusChange(this)" asp-for="TransferRequest.Status.Status" asp-items="@Model.StatusesList" class="form-select border-0 shadow">
                <option disabled selected>--Select Status--</option>
            </select>
            <label asp-for="TransferRequest.Status.Status" class="ms-2 text-black"></label>
            <span asp-validation-for="TransferRequest.Status.Status" class="text-danger"></span>
        </div>

        <div class="py-2 col-12" id="trackingInfo">
            <label asp-for="TransferRequest.Status.TrackingInfo" class="p-0"></label>
            <input asp-for="TransferRequest.Status.TrackingInfo" type="text" class="form-control" />
            <span asp-validation-for="TransferRequest.Status.TrackingInfo" class="text-danger"></span>
        </div>

        <div class="py-2 col-12" id="cancellationReason">
            <label asp-for="TransferRequest.Status.CancellationReason" class="p-0"></label>
            <input asp-for="TransferRequest.Status.CancellationReason" required type="text" class="form-control" id="cancellation-reason" />
            <span id="invalidCancellationReason" class="text-danger"></span>
            <span asp-validation-for="TransferRequest.Status.CancellationReason" class="text-danger"></span>
        </div>

        <div class="row p-1">
            <div class="col-12 col-md-6">
                <div class="w-100 btn-group" role="group">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-check-circle"></i> Update Status
                    </button>
                    @await Html.PartialAsync("_BackButton", Model.BackLocation)
                </div>
            </div>
        </div>

    </div>

</form>

@section Scripts {
    <script src="~/js/statusSelect.js" asp-append-version="true"></script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}