@{
    ViewData["Title"] = "Companies";
}

@model List<Company>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">
                Companies (Admin View)
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Companies" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create A New Company
            </a>
        </div>
    </div>
</div>

<table class="table table-bordered border-white table-striped">
    <thead>
    <tr>
        <th class="text-white">
            <b>Company Name</b>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model.OrderBy(u=>u.Name))
        {
            <tr>
                <td class="text-white">
                    @obj.Name
                </td>
                <td>
                    <div class="w-100 btn-group" role="group">

                        <a asp-area="User" asp-controller="Company" asp-action="Index" asp-route-companyId="@obj.Id" class="btn btn-primary mx-2">
                            <i class="bi bi-card-list"></i> Go To Company View
                        </a>
                        
                        <a asp-controller="Companies" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-secondary mx-2">
                            <i class="bi bi-pencil"></i> Rename
                        </a>

                        <a asp-controller="Companies" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                            <i class="bi bi-trash3"></i> Delete
                        </a>

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>