@{
    ViewData["Title"] = "About";
}

<h1>About StockRequester</h1>

<p>
    StockRequester is a web-based inventory management system designed to streamline the process of 
    transferring stock between different company locations.<br />
    It provides a simple, intuitive interface for managing stock movements.
</p>

<p>
    Built using ASP.NET MVC, StockRequester leverages modern web technologies to provide 
    a secure platform for your inventory management needs.
</p>

<p>
    Developed by <a href="https://samsrepos.github.io/" target="_blank">Sam Burrows</a>,
    a software development engineer with a BSc with First Class Honours in Computer Games Technology 
    from the University of Abertay.
</p>

<div>
    <a href='https://ko-fi.com/R6R415EIEW' target='_blank'>
        <img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi3.png?v=6' border='0' alt='Buy Me a Coffee at ko-fi.com' />
    </a>
</div>

@* <div>
    <iframe 
        src="https://github.com/sponsors/SamsRepos/button" 
        title="Sponsor SamsRepos" 
        height="32" 
        width="114" 
        style="border: 0; border-radius: 6px;">
    </iframe>
</div> *@
