@{
    ViewData["Title"] = "No Invite";
}

@model string //user's email address

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">No Invite Found</h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <p>
                @Model has not been invited to join a company yet<br />
                Ask your company admin to get invited
            </p>
        </div>

    </div>
</form>

